<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metodologia</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <div class="loginForm">
        <h2 id="tituloBoton">Metodologia</h2>
        <input type="text" name="username" id="log-user-form" placeholder="Usuario">
        <input type="text" name="password" id="log-password-form" placeholder="Contraseña">
        <button id="botonPersonalizado">Ingresar</button>
    <script src="/script.js"></script>
    <div>
        <a href="/register.html" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;">¿No tienes cuenta? Regístrate aquí</a>
        <script src="/register.js"></script>
    </div>
    </div>
</body>
</html>
